@import 'variable.scss';

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - $header-height - $pc-player-controller-height - 64px);
  overflow: hidden;
}

.player {
  position: relative;
  background-color: lighten($base-black, 10);
  width: 100%;
  max-width: 1080px;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.controller {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
