@import 'variable.scss';

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - $header-height - $pc-player-controller-height);
  padding: 56px 0 24px;
  overflow: hidden;
}

.player {
  flex: 1 1;
  position: relative;
  background-color: lighten($base-black, 10);
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.playlist {
  max-width: 800px;
  flex: 1 1;
  margin-left: 2rem;
}

.controller {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
