@import 'variable.scss';
@import 'mixin.scss';

.root {
  max-width: 1280px;
  margin: 0 auto;
  @include responsive(sm) {
    font-size: 0.875rem;
  }
}

.title {
  font-size: 3.75rem;
  margin-bottom: 0.875rem;

  @include responsive(sm) {
    font-size: 2.125rem;
  }
}

.subtitle {
  font-size: 2.215rem;
  border-bottom: 1px solid $base-white;
  margin: 1.5rem 0 0.875rem;

  @include responsive(sm) {
    font-size: 1.5rem;
  }
}

.section {
  & + & {
    margin-top: 1rem;
  }

  ul {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  li {
    margin-top: 0.5rem;
    list-style: disc;
  }
}

.link {
  border-bottom: 1px solid currentColor;
}

.developer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconLink {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
