@import 'variable.scss';

.root {
  display: inline-flex;
  align-items: center;
  color: $base-white;
  background-color: $primary-400;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-weight: bold;

  &:hover {
    background-color: $primary-200;
  }
}

.secondary {
  background-color: $secondary-400;
  color: $base-white;

  &:hover {
    background-color: $secondary-200;
  }
}

.leftIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
}
