@import 'variable.scss';
@import 'mixin.scss';

.root {
  max-width: 1280px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: stretch;
  margin-bottom: 3rem;
}

.searchForm {
  display: flex;
  align-items: center;
  flex: 1 0;
  border: 1px solid gray;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  outline: none;

  &:focus-within {
    border-color: #8bc34a;
  }
}

.input {
  border: none;
  flex: 1 0;
  padding: 0.5em 0.875em;
  background-color: transparent;
  color: $base-white;

  &:focus {
    outline: none;
  }
}

.reset {
  background: none;
  border: none;
  right: 0;
  margin: 0 0.5em;
}

.submit {
  padding: 0.25em 0.875em;
  background-color: lighten($base-black, 80);
  border: 1px solid gray;
  border-left: none;
  border-radius: 0 4px 4px 0;

  &:hover {
    background-color: lighten($base-black, 90);
  }
  &:active {
    background-color: lighten($base-black, 95);
  }
}

.result {
  margin-bottom: 10rem;
}

.listItem {
  & + & {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid lighten($base-black, 50);
  }
}

.spinner {
  margin: 10em auto;
}
