@import 'variable.scss';

.root {
  position: relative;
  height: 2px;
  padding: 12px 0;
  border-radius: 12px;
  color: $primary;
  cursor: pointer;
}

.rail {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  opacity: 0.38;
  background-color: currentColor;
  transform: translateY(-50%);
}

.track {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  border: 1px solid currentColor;
  background-color: currentColor;
  transform: translateY(-50%);
}

.thumb {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: currentColor;
  transform: translate(-50%, -50%);
  transition: box-shadow 0.2s ease-in-out 0s;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:hover {
    width: 1.25em;
    height: 1.25em;
  }
}

.input {
  border: none;
  overflow: hidden;
  position: absolute;
  padding: 0;
  clip: rect(0 0 0 0);
}

.active {
  width: 1.25em;
  height: 1.25em;
}

.label {
  display: inline-block;
  background-color: lighten($base-black, 20);
  padding: 0.125em 0.5em;
  font-size: 0.875rem;
}
