@import 'variable.scss';
@import 'mixin.scss';

.root {
  overflow-y: auto;
  padding: 1rem 0;
}

.root::-webkit-scrollbar {
  overflow: hidden;
  width: 0.5rem;
  background: $base-white;
  border-radius: 4px;
}

.root::-webkit-scrollbar-thumb {
  background: $primary-dark;
  border-radius: 2px;
}
