@import 'variable.scss';
@import 'mixin.scss';

.root {
  overflow-y: auto;
}

.root::-webkit-scrollbar {
  overflow: hidden;
  width: 0.5rem;
  background: $base-white;
  border-radius: 4px;
}

.root::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 2px;
}
