@import 'mixin.scss';

$x-padding: 56px;
$y-padding: 32px;
$x-mobile-padding: 16px;
$y-mobile-padding: 16px;

.all {
  padding: $y-padding $x-padding;

  @include responsive(sm) {
    padding: $y-mobile-padding $x-mobile-padding;
  }
}

.horizontal {
  padding: 0 $x-padding;

  @include responsive(sm) {
    padding: 0 $x-padding;
  }
}

.vertical {
  padding: $y-padding 0;

  @include responsive(sm) {
    padding: $y-mobile-padding 0;
  }
}
