@import 'variable.scss';
@import 'mixin.scss';

.controller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.875rem;
  background-color: lighten($base-black, 10);
}

.leftControls,
.middleControls,
.rightControls {
  display: flex;
  align-items: center;
}

.time {
  margin-left: 0.5rem;
}

.middleControls {
  flex: 1 0;
  justify-content: center;
}

.rightControls {
  justify-content: flex-end;
}

.volume {
  display: flex;
  align-items: center;
}

.volumeControl {
  width: 5rem;
  margin-right: 1.5rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
