@import 'mixin.scss';

.root {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.message {
  margin: 1rem 0;
}

.link {
  text-decoration: underline;
}

.socialLinks {
  margin: 3rem 0;
  font-size: 1.75rem;

  @include responsive(sm) {
    font-size: 1.25rem;
  }
}

.socialLink {
  &:hover {
    text-decoration: underline;
  }

  & + & {
    margin-top: 1.2rem;
  }
}
