@import 'mixin.scss';

.root {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.informationTitle {
  font-size: 20px;
  margin-bottom: 16px;
}

.anniversaryTitle {
  position: relative;
  z-index: 1;
  font-size: 64px;
  text-align: center;
  color: #44bfb7;
  margin: 0;

  text-shadow:
    0 0 10px #44bfb7,
    0 0 20px #338f89,
    0 0 40px #22605c,
    0 0 80px #11302e;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

.anniversaryDate {
  position: relative;
  z-index: 1;
  font-size: 48px;
  text-align: center;
  color: #ddaa71;
  margin: 16px 0 0;

  animation: flickerDateBefore 3s infinite alternate;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.anniversaryDateWithinOnAir {
  color: #db1818;
  display: inline-flex;
  padding: 4px 32px;
  border: 4px solid #db1818;
  border-radius: 12px;
  background-color: #0a0a0a;

  animation: flickerDateWithin 3s infinite alternate;
}

.live {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.live iframe {
  border: 0;
  box-shadow:
    0 0 20px #bfbfbf,
    0 0 40px #8f8f8f,
    0 0 80px #606060,
    0 0 120px #303030;
}

@keyframes flickerDateBefore {
  0%,
  31.5%,
  32.5%,
  79%,
  81%,
  100% {
    text-shadow:
      0 0 10px #ddaa71,
      0 0 20px #a68055,
      0 0 40px #6f5539,
      0 0 80px #372b1c;
  }

  32%,
  80% {
    text-shadow: none;
  }
}

@keyframes flickerDateWithin {
  0%,
  24%,
  26%,
  100% {
    box-shadow:
      inset 0 0 0 2px rgba(0, 0, 0, 0.15),
      0 0 0 2px rgba(0, 0, 0, 0.15),
      inset 0 0 20px #db1818,
      0 0 40px #800b08;

    text-shadow:
      0 0 1.75rem #db1818,
      0 0 4rem #a41212;
  }

  25% {
    box-shadow: none;
    text-shadow: none;
  }
}

.message {
  margin: 1rem 0;
}

.link {
  text-decoration: underline;
}

.socialLinks {
  margin: 3rem 0;
  font-size: 1.75rem;

  @include responsive(sm) {
    font-size: 1.25rem;
  }
}

.socialLink {
  &:hover {
    text-decoration: underline;
  }

  & + & {
    margin-top: 1.2rem;
  }
}
