@import 'variable.scss';
@import 'mixin.scss';

.root {
  background-color: $gray-900;
  padding: 16px 32px 40px;
  line-height: 1.2;
  height: $mobile-player-controller-height;
}

.streamInfo {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.meta {
  display: flex;
  flex-direction: column;
}

.songTitle {
  @include lineClamp(1);
  font-weight: bold;
}

.songArtist {
  @include lineClamp(1);
  font-size: 0.75rem;
}

.publishedAt {
  margin-top: auto;
  font-size: 0.75rem;
}

.slider {
  margin: 2.5rem 0 1rem;
}

.lengths {
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.shuffle {
  color: $gray-700;
  &.shuffled {
    color: $base-white;
  }
}

.middleControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play {
  flex: 1 0;
  text-align: center;
}

.rightControls {
  justify-self: end;
}

.repeat {
  color: $gray-700;
  &.repeating {
    color: $base-white;
  }
}
