@import 'variable.scss';
@import 'mixin.scss';

.root {
  background-color: lighten($base-black, 10);
  padding: 16px 32px 32px;
  line-height: 1.2;
}

.streamInfo {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.meta {
  display: flex;
  flex-direction: column;
}

.songTitle {
  @include lineClamp(1);
}

.songArtist {
  @include lineClamp(1);
  font-size: 0.75rem;
}

.publishedAt {
  margin-top: auto;
  font-size: 0.75rem;
}

.slider {
  margin: 2.5rem 0 1rem;
}

.lengths {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.play {
  justify-self: center;
}

.repeat {
  justify-self: end;
}
