@import 'mixin.scss';

.root {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.thumbnail {
  position: relative;
  display: block;
  width: 256px;
  height: 144px;
  flex-shrink: 0;

  @include responsive(sm) {
    width: 128px;
    height: 72px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0;
  margin-left: 1em;
}

.song {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;

  @include responsive(sm) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.songTitle {
  font-size: 1.5em;
  font-weight: bold;

  @include responsive(lg) {
    font-size: 1.25em;
  }

  @include responsive(sm) {
    @include lineClamp(1);
    font-size: 1em;
  }
}

.songArtist {
  &::before {
    content: '/';
    margin: 0 0.5em;
  }

  @include responsive(sm) {
    &::before {
      content: '';
      margin: 0;
    }
    @include lineClamp(1);
    font-size: 0.7em;
  }
}

.videoTitle {
  @include lineClamp(3);
  margin: 0.25rem 0;
  @include responsive(sm) {
    @include lineClamp(1);
    font-size: 0.5em;
  }
}

.publishedAt {
  margin-top: auto;
  @include responsive(sm) {
    font-size: 0.5em;
  }
}

.menu {
  align-self: flex-start;
}

.originalLink {
  display: block;
  margin-top: auto;
  margin-left: auto;

  @include responsive(sm) {
    @include lineClamp(1);
    font-size: 0.7em;
  }
}
