@import 'variable.scss';
@import 'mixin.scss';

$mobile-playlist-draggable-height: 48px;

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - $header-height - $pc-player-controller-height);
  padding: 56px 0 24px;
  overflow: hidden;

  @include responsive(sm) {
    height: auto;
  }
}

.player {
  flex: 1 1;
  position: relative;
  background-color: $gray-900;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.sidePanel,
.sidePanelSkeleton {
  max-width: 800px;
  flex: 1 1;
  margin-left: 2rem;
  overflow: hidden;
}

.sidePanelSkeleton {
  background-color: $gray-900;
}

.sidePanel {
  display: flex;
  flex-direction: column;
}

.autoPlay {
  margin: 0.5rem 0;
}

.controller {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobilePlaylistWrapper {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem 1rem;
  z-index: 1;
  overflow: hidden;
  background-color: $primary-900;
  border-radius: 12px 12px 0 0;
}

.mobilePlaylistVisibilityToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $mobile-playlist-draggable-height;
  color: $base-white;
  font-size: 1.75rem;
  border: none;
  background-color: transparent;
}

.mobilePlaylist {
  height: calc(100% - $mobile-playlist-draggable-height);
}
