.root {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;

  &.small {
    padding: 0.35rem;
    font-size: 1.125rem;
  }

  &.medium {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  &.large {
    padding: 0.75rem;
    font-size: 1.875rem;
  }

  &:hover {
    background-color: rgba(#ffffff, 0.1);
  }

  &:active {
    background-color: rgba(#ffffff, 0.2);
  }

  & svg {
    display: block;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
